.Links {
  font-weight: 600;
  font-size: x-large;
  text-decoration: none;
}

.Link {
  composes: Links;
  color: black;
}

.CurrentLink {
  color: brown;
}

.Links + .Links {
  margin-left: 30px;
}

.Link:focus,
.Link:hover {
  color: blue;
}

.UserBlock {
  margin-left: auto;
  display: flex;
}
